USE [master]
GO
/****** Object:  Database [ArthurFrederico.SIGA.Model.SIGAContext]    Script Date: 22/06/2017 19:19:33 ******/
CREATE DATABASE [ArthurFrederico.SIGA.Model.SIGAContext]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ArthurFrederico.SIGA.Model.SIGAContext.mdf', FILENAME = N'E:\Projects\SIGA\ArthurFrederico.SIGA.Web\App_Data\ArthurFrederico.SIGA.Model.SIGAContext.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ArthurFrederico.SIGA.Model.SIGAContext_log.ldf', FILENAME = N'E:\Projects\SIGA\ArthurFrederico.SIGA.Web\App_Data\ArthurFrederico.SIGA.Model.SIGAContext_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ArthurFrederico.SIGA.Model.SIGAContext].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ArthurFrederico.SIGA.Model.SIGAContext]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 22/06/2017 19:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Aluno]    Script Date: 22/06/2017 19:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aluno](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
	[Rg] [nvarchar](9) NOT NULL,
	[Cpf] [nvarchar](11) NOT NULL,
	[DataNascimento] [datetime] NOT NULL,
	[Tutor1Id] [int] NOT NULL,
	[Tutor2Id] [int] NOT NULL,
	[EnderecoCompleto] [nvarchar](250) NOT NULL,
	[Matricula] [nvarchar](10) NOT NULL,
	[Idade] [int] NOT NULL,
	[Sexo] [bit] NOT NULL,
	[Telefone1] [nvarchar](11) NOT NULL,
	[Telefone2] [nvarchar](11) NOT NULL,
	[DataCadastro] [datetime] NOT NULL,
	[CidadeId] [int] NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[DataUltimaModificacao] [datetime] NOT NULL,
	[UsuarioModificacao] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Aluno] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cidade]    Script Date: 22/06/2017 19:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cidade](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
	[Estado] [nvarchar](2) NOT NULL,
	[Cep] [nvarchar](8) NOT NULL,
 CONSTRAINT [PK_dbo.Cidade] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tutor]    Script Date: 22/06/2017 19:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tutor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
	[Rg] [nvarchar](9) NOT NULL,
	[Cpf] [nvarchar](11) NOT NULL,
	[Sexo] [bit] NOT NULL,
	[Profissao] [nvarchar](50) NOT NULL,
	[Telefone] [nvarchar](11) NOT NULL,
	[DataCadastro] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Tutor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 22/06/2017 19:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
	[Cpf] [nvarchar](11) NOT NULL,
	[Sexo] [bit] NOT NULL,
	[Telefone] [nvarchar](11) NOT NULL,
	[DataCadastro] [datetime] NOT NULL,
	[CidadeId] [int] NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[HashSenha] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_CidadeId]    Script Date: 22/06/2017 19:19:33 ******/
CREATE NONCLUSTERED INDEX [IX_CidadeId] ON [dbo].[Aluno]
(
	[CidadeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Cpf]    Script Date: 22/06/2017 19:19:33 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Cpf] ON [dbo].[Aluno]
(
	[Cpf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Email]    Script Date: 22/06/2017 19:19:33 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Email] ON [dbo].[Aluno]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Id]    Script Date: 22/06/2017 19:19:33 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Id] ON [dbo].[Aluno]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Matricula]    Script Date: 22/06/2017 19:19:33 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Matricula] ON [dbo].[Aluno]
(
	[Matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Rg]    Script Date: 22/06/2017 19:19:33 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Rg] ON [dbo].[Aluno]
(
	[Rg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Telefone1]    Script Date: 22/06/2017 19:19:33 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Telefone1] ON [dbo].[Aluno]
(
	[Telefone1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Telefone2]    Script Date: 22/06/2017 19:19:33 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Telefone2] ON [dbo].[Aluno]
(
	[Telefone2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tutor1Id]    Script Date: 22/06/2017 19:19:33 ******/
CREATE NONCLUSTERED INDEX [IX_Tutor1Id] ON [dbo].[Aluno]
(
	[Tutor1Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tutor2Id]    Script Date: 22/06/2017 19:19:33 ******/
CREATE NONCLUSTERED INDEX [IX_Tutor2Id] ON [dbo].[Aluno]
(
	[Tutor2Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Cep]    Script Date: 22/06/2017 19:19:33 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Cep] ON [dbo].[Cidade]
(
	[Cep] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Id]    Script Date: 22/06/2017 19:19:33 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Id] ON [dbo].[Cidade]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Cpf]    Script Date: 22/06/2017 19:19:33 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Cpf] ON [dbo].[Tutor]
(
	[Cpf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Id]    Script Date: 22/06/2017 19:19:33 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Id] ON [dbo].[Tutor]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Rg]    Script Date: 22/06/2017 19:19:33 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Rg] ON [dbo].[Tutor]
(
	[Rg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Telefone]    Script Date: 22/06/2017 19:19:33 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Telefone] ON [dbo].[Tutor]
(
	[Telefone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CidadeId]    Script Date: 22/06/2017 19:19:33 ******/
CREATE NONCLUSTERED INDEX [IX_CidadeId] ON [dbo].[Usuario]
(
	[CidadeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Cpf]    Script Date: 22/06/2017 19:19:33 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Cpf] ON [dbo].[Usuario]
(
	[Cpf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Id]    Script Date: 22/06/2017 19:19:33 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Id] ON [dbo].[Usuario]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Nome]    Script Date: 22/06/2017 19:19:33 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Nome] ON [dbo].[Usuario]
(
	[Nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Telefone]    Script Date: 22/06/2017 19:19:33 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Telefone] ON [dbo].[Usuario]
(
	[Telefone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Aluno]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Aluno_dbo.Cidade_CidadeId] FOREIGN KEY([CidadeId])
REFERENCES [dbo].[Cidade] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Aluno] CHECK CONSTRAINT [FK_dbo.Aluno_dbo.Cidade_CidadeId]
GO
ALTER TABLE [dbo].[Aluno]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Aluno_dbo.Tutor_Tutor1Id] FOREIGN KEY([Tutor1Id])
REFERENCES [dbo].[Tutor] ([Id])
GO
ALTER TABLE [dbo].[Aluno] CHECK CONSTRAINT [FK_dbo.Aluno_dbo.Tutor_Tutor1Id]
GO
ALTER TABLE [dbo].[Aluno]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Aluno_dbo.Tutor_Tutor2Id] FOREIGN KEY([Tutor2Id])
REFERENCES [dbo].[Tutor] ([Id])
GO
ALTER TABLE [dbo].[Aluno] CHECK CONSTRAINT [FK_dbo.Aluno_dbo.Tutor_Tutor2Id]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Usuario_dbo.Cidade_CidadeId] FOREIGN KEY([CidadeId])
REFERENCES [dbo].[Cidade] ([Id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_dbo.Usuario_dbo.Cidade_CidadeId]
GO
USE [master]
GO
